<p>Hey {{ name }},</p>
<p>We have received a request to reset your password for your Geotagger account. If you did not make this request, please disregard this email.</p>
<p>To proceed with resetting your password, please click the link below:</p>
<p>
    <a href="{{ url }}">Change password</a>
</p>
<p>Please note that this link will expire in 1 hour.</p>
